extends layout

block content
  .row 
    .medium-4.columns.medium-centered
      img(src="images/titleboxing.jpg")
  .row
    .medium-12.columns
      h5 You must fill this form out in its entirety before participating in a boxing or kickboxing POWER HOUR fitness class. Hit it Hard ®
  .row
    .medium-12.columns
      form#registration-form(action='/submit', method='post')
        fieldset
          legend Guest Registration Form
          .row
            .medium-4.columns
              label First Name
              input(name='firstname', type='text', autofocus=true required)
            .medium-4.columns
              label Last Name
              input(name='lastname', type='text' required)
            .medium-4.columns
              label Birth Date
              input(name='birthdate', type='date' required)
          .row
            .medium-12.columns
              label Address
              input(name='address', type='text' required)
          .row
            .medium-6.columns
              label City
              input(name='city', type='text' required)
            .medium-3.columns
              label State
              input(name='state', type='text' required)
            .medium-3.columns
              label Zip Code
              input(name='zip', type='text' required)
          .row
            .medium-6.columns
              label Email Address
              input(name='email', type='text' required)
            .medium-3.columns
              label Home Phone
              input(name='homephone', type='text')
            .medium-3.columns
              label Cell Phone
              input(name='cellphone', type='text')
          .row
            .medium-10.columns
              label Employer
              input(name='employer', type='text')
            .medium-2.columns
              label Marital Status
              input(type='radio' name='married' value='yes')
              |  Married
              br
              input(type='radio' name='married' value='no') 
              |  Single
          .row
            .medium-6.columns
              label Emergency Contact
              input(name='emergencycontact', type='text')
            .medium-6.columns
              label Phone Number
              input(name='ecphonenumber', type='text')
          .row
            .medium-6.columns
              label First Class Date
              input(name='classdate', type='date')
            .medium-6.columns
              label First Class Time
              input(name='classtime', type='text')
          .row
            .medium-6.columns
              label How Did You Hear About Us?
              input(name='referral', type='text')
          .row
            .medium-12.columns
              input(name='concent' type='checkbox' required)
              |   I have read and understand the 
              a(href="#", data-reveal-id="myModal") Guest Assumption of Risk, Consent, Release and Waiver.
              #myModal.reveal-modal(data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog")
                H3 GUEST ASSUMPTION OF RISK, CONSENT, RELEASE AND WAIVER
                p Boxing and kickboxing courses offered by Tribune Boxing LLC, an independently owned and operated franchisee of TBC International, LLC, and its owners, employees, and instructors (collectively “Fitness Center”) could involve physical contact with other individuals and/or heavy bags, which may result in personal injury. Other programs offered by the Fitness Center, including weight lifting, aerobics and other events also present a risk in personal injury to the participant (you). In consideration of mutual agreements by which I will use the premises of Tribune Boxing LLC d/b/a TITLE BOXING CLUB®, which I acknowledge to be beneficial to me, I acknowledge and agree to the : 
                p I warrant and represent that I am in appropriate physical condition for the physical activities in which I will participate and that such physical activities, even noncontact activities, carry a risk of serious physical injury including substantial and permanent injuries, and/or death, and I knowingly and voluntarily assume those risks and waive in advance any claim of liability resulting from those risks. On my own behalf and on behalf of my representatives, my estate, and all persons claiming  through me directly or derivatively,  I hereby agree to hold harmless, release, and discharge in advance Tribune Boxing LLC, its franchisor TBC International, LLC and all other TBC International LLC franchisees and their respective owners, officers, employees,  affiliate companies, and all other participants and nonparticipants associated with those identified entities (hereinafter  the "Clubs")  from any injury that I may receive whether or not from the negligent or intentional  acts of those persons released.  Furthermore, I agree on my own behalf and behalf of my representatives, estate, successors and assigns to defend the Clubs from and against any and all claims and liability that may arise by reason of any injury or death I may sustain from participation in physical activities at the facilities of the TITLE Boxing Club operated by the Clubs, whether caused by an intentional act, or by negligence, or otherwise without limitation.  This agreement to defend includes any claim, action or liability whatsoever, regardless of whether the claim is made, without limitation, by me, by someone on my behalf or by someone whose claim is derived from my injury or death. I acknowledge and agree (1) that it is my responsibility to cover any medical bills that I may incur and to cover myself with any medical insurance I may deem appropriate and (2) that I will not and cannot make any claim for medical coverage resulting from any injury or death incurred by me at the facilities of the TITLE Boxing Club owned and operated by the Clubs. The Clubs shall not be liable for any loss or theft of my personal property.  I also specifically agree that the Clubs shall not be responsible for all such personal or property injuries, damages, loss or theft, even in the event of negligence, fault or failure to use due care on the part of the Clubs, and whether such negligence, fault, or failure to use due care is present at the signing of this Agreement or takes place in the future.  I hereby consent to the Clubs taking photographs or video images of me while in classes or otherwise in the public premises of the Clubs and hereby irrevocably grant the Clubs the right to use my image or likeness in such images. 
                a.close-reveal-modal(aria-label="Close")&#215
          .row
            .medium-2.columns
              button#submit.medium.radius Submit
              img#spinner.hide(src="images/loading.gif")
            .medium-10.columns
          
          
