doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/foundation.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/buttons.css')
    script(type='text/javascript', src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    script(type='text/javascript', src='/javascripts/main.js')
    script(type='text/javascript', src='/javascripts/vendor/fastclick.js')
    script(type='text/javascript', src='/javascripts/vendor/jquery.cookie.js')
    script(type='text/javascript', src='/javascripts/vendor/modernizr.js')
    script(type='text/javascript', src='/javascripts/vendor/placeholder.js')
    script(type='text/javascript', src='/javascripts/vendor/foundation.js')
    script(type='text/javascript', src='/javascripts/vendor/foundation.reveal.js')

  body
    block content

  script.
    $(document).foundation();
